# Jupyter enviroment
JUPYTER_ENABLE_LAB=yes
JUPYTER_TOKEN=docker

# Database
HOST=check your database vendor
USERNAME=check your database vendor
PASSWORD=check your database vendor
DATABASE=check your database vendor