# Jupyter enviroment
JUPYTER_ENABLE_LAB=yes
JUPYTER_TOKEN=docker

# Database
HOST=check your database host
USERNAME=check your database host
PASSWORD=check your database host
DATABASE=check your database host

# MongoDB
MONGO_USERNAME=check your database host
MONGO_PASSWORD=check your database host